name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build_client_job:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: build
      run: |
        gcc ./src/client_app.c -o client_app.out

    - uses: actions/upload-artifact@v2
      with:

          name: artifact_build_client_job
          path: ./*.out


  build_server_job:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: build
      run: |
        gcc ./src/server_app_fork.c -o server_app_fork.out


    - uses: actions/upload-artifact@v2
      with:
          name: artifact_build_server_job
          path: ./*.out


  test_job:
  
    runs-on: ubuntu-latest
     
    steps:
    - uses: actions/download-artifact@v2
     
    - name: run
      run: |
        ./server_app_fork.out 127.0.0.1 &
        ./client_app.out 127.0.0.1 < ./test/test_sample.txt > ./test_result.txt
     
    - uses: actions/upload-artifact@v2
      with:
          name: artifact_test_job
          path: ./test_result.txt

    needs: [ build_server_job, build_client_job ] 




