name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build_client:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: build
      run: |
        gcc client_app.c -o client_app.out

    - uses: actions/upload-artifact@v2
      with:
          name: artifact_client
          path: ./*.out


  build_server:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: build
      run: |
        gcc server_app_fork.c -o server_app_fork.out


    - uses: actions/upload-artifact@v2
      with:
          name: artifact_server
          path: ./*.out




  